<?xml version="1.0" encoding="utf-8"?>

<configuration>
<!--    <appender name="consoleLog" class="ch.qos.logback.core.ConsoleAppender">-->
<!--        <layout class="ch.qos.logback.classic.PatternLayout">-->
<!--            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %5p %c{5}:%L - %m%n</pattern>-->
<!--        </layout>-->
<!--    </appender>-->
<!--    <appender name="fileInfoLog" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
<!--        <filter class="ch.qos.logback.classic.filter.LevelFilter">-->
<!--            <level>ERROR</level>-->
<!--            <onMatch>DENY</onMatch>-->
<!--            <onMismatch>ACCEPT</onMismatch>-->
<!--        </filter>-->
<!--        <encoder>-->
<!--            <pattern>%date [%thread] %level %logger{10} [%file : %line] %msg%n</pattern>-->
<!--        </encoder>-->
<!--        &lt;!&ndash;滚动策略&ndash;&gt;-->
<!--        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
<!--            &lt;!&ndash;路径&ndash;&gt;-->
<!--            <fileNamePattern>/mnt/logs/moirai-service/info.%d{yyyy-MM-dd}.log</fileNamePattern>-->
<!--        <maxHistory>30</maxHistory>-->
<!--    </rollingPolicy>-->
<!--</appender>-->
<!--<appender name="fileErrorLog" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
<!--    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">-->
<!--        <level>ERROR</level>-->
<!--    </filter>-->
<!--    <encoder>-->
<!--        <pattern>%date [%thread] %level %logger{10} [%file : %line] %msg%n</pattern>-->
<!--    </encoder>-->
<!--    &lt;!&ndash;滚动策略&ndash;&gt;-->
<!--        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
<!--            &lt;!&ndash;路径&ndash;&gt;-->
<!--            <fileNamePattern>/mnt/logs/moirai-service/error.%d{yyyy-MM-dd}.log</fileNamePattern>-->
<!--    <maxHistory>30</maxHistory>-->
<!--</rollingPolicy>-->
<!--</appender>-->

<!--&lt;!&ndash;mybatis sql打印 &ndash;&gt;-->
<!--    <logger name="com.baiwang.moirai.mapper" level="info" />-->
<!--    &lt;!&ndash; <logger name="org.mybatis">-->
<!--         <level value="TRACE"/>-->
<!--     </logger>&ndash;&gt;-->
<!--    <root level="info">-->
<!--        &lt;!&ndash;<appender-ref ref="consoleLog"/>&ndash;&gt;-->
<!--        <appender-ref ref="fileInfoLog"/>-->
<!--        <appender-ref ref="fileErrorLog"/>-->
<!--    </root>-->
</configuration>
