<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baiwang.moirai.mapper.MoiraiSysUsersMapper">
  <resultMap id="BaseResultMap" type="com.baiwang.moirai.model.user.MoiraiSysUsers">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_account" jdbcType="VARCHAR" property="userAccount" />
    <result column="tenant_id" jdbcType="BIGINT" property="tenantId" />
    <result column="sys_code" jdbcType="VARCHAR" property="sysCode" />
    <result column="sys_user_id" jdbcType="VARCHAR" property="sysUserId" />
    <result column="creater" jdbcType="VARCHAR" property="creater" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
  </resultMap>
  <resultMap id="UserMap" type="com.baiwang.moirai.model.user.MoiraiUser">
    <id column="user_id" jdbcType="BIGINT" property="userId"/>
    <result column="user_account" jdbcType="VARCHAR" property="userAccount"/>
    <result column="user_password" jdbcType="VARCHAR" property="userPassword"/>
    <result column="user_name" jdbcType="VARCHAR" property="userName"/>
    <result column="UUID" jdbcType="CHAR" property="uuid"/>
    <result column="user_email" jdbcType="VARCHAR" property="userEmail"/>
    <result column="email_validate" jdbcType="CHAR" property="emailValidate"/>
    <result column="telephone" jdbcType="VARCHAR" property="telephone"/>
    <result column="phone_validate" jdbcType="CHAR" property="phoneValidate"/>
    <result column="user_detaile" jdbcType="VARCHAR" property="userDetaile"/>
    <result column="user_type" jdbcType="CHAR" property="userType"/>
    <result column="user_createtype" jdbcType="CHAR" property="userCreatetype"/>
    <result column="userinfo_id" jdbcType="BIGINT" property="userinfoId"/>
    <result column="org_id" jdbcType="BIGINT" property="orgId"/>
    <result column="tenant_id" jdbcType="BIGINT" property="tenantId"/>
    <result column="dept" jdbcType="CHAR" property="dept"/>
    <result column="last_logintime" jdbcType="BIGINT" property="lastLogintime"/>
    <result column="user_company" jdbcType="CHAR" property="userCompany"/>
    <result column="bind_company" jdbcType="CHAR" property="bindCompany"/>
    <result column="DEFAULT_user" jdbcType="CHAR" property="defaultUser"/>
    <result column="bind_account" jdbcType="VARCHAR" property="bindAccount"/>
    <result column="is_tenantaccount" jdbcType="VARCHAR" property="isTenantAccount"/>
    <result column="del_flag" jdbcType="VARCHAR" property="delFlag"/>
    <result column="use_flag" jdbcType="VARCHAR" property="useFlag"/>
    <result column="name" jdbcType="VARCHAR" property="name"/>
    <result column="create_time" jdbcType="VARCHAR" property="createTime"/>
    <result column="modify_time" jdbcType="VARCHAR" property="modifyTime"/>
    <result column="creater" jdbcType="VARCHAR" property="creater"/>
    <result column="remark" jdbcType="VARCHAR" property="remark"/>
    <result column="backup" jdbcType="VARCHAR" property="backup"/>

    <result column="login_org" jdbcType="BIGINT" property="loginOrg"/>
    <result column="employee_num" jdbcType="VARCHAR" property="employeeNum"/>
    <result column="user_position" jdbcType="VARCHAR" property="userPosition"/>
  </resultMap>
  <sql id="Base_Column_List">
    id, user_account, tenant_id, sys_code, sys_user_id, creater, create_time
  </sql>
  <select id="getBwUser" parameterType="java.lang.String" resultMap="UserMap">
    select u.user_id, u.user_account, user_name, user_type, user_createtype,
           use_flag, del_flag, u.tenant_id, u.org_id
    from moirai_sys_users as sysUser
    left join moirai_user as u on sysUser.user_account=u.user_account
    where sysUser.sys_user_id=#{sysUserId,jdbcType=VARCHAR}
    and u.del_flag='N'
  </select>
  <select id="selectByUserAccount" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from moirai_sys_users
    where user_account = #{userAccount,jdbcType=VARCHAR}
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from moirai_sys_users
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from moirai_sys_users
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insertSelective" parameterType="com.baiwang.moirai.model.user.MoiraiSysUsers">
    insert into moirai_sys_users
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userAccount != null">
        user_account,
      </if>
      <if test="tenantId != null">
        tenant_id,
      </if>
      <if test="sysCode != null">
        sys_code,
      </if>
      <if test="sysUserId != null">
        sys_user_id,
      </if>
      <if test="creater != null">
        creater,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userAccount != null">
        #{userAccount,jdbcType=VARCHAR},
      </if>
      <if test="tenantId != null">
        #{tenantId,jdbcType=BIGINT},
      </if>
      <if test="sysCode != null">
        #{sysCode,jdbcType=VARCHAR},
      </if>
      <if test="sysUserId != null">
        #{sysUserId,jdbcType=VARCHAR},
      </if>
      <if test="creater != null">
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.baiwang.moirai.model.user.MoiraiSysUsers">
    update moirai_sys_users
    <set>
      <if test="userId != null">
        user_account = #{userAccount,jdbcType=VARCHAR},
      </if>
      <if test="tenantId != null">
        tenant_id = #{tenantId,jdbcType=BIGINT},
      </if>
      <if test="sysCode != null">
        sys_code = #{sysCode,jdbcType=VARCHAR},
      </if>
      <if test="sysUserId != null">
        sys_user_id = #{sysUserId,jdbcType=VARCHAR},
      </if>
      <if test="creater != null">
        creater = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>