<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ *@项目名称: Moirai
  ~ *@文件名称: MoiraiSecretKeyMapper.xml
  ~ *@Date: 17-12-5 下午7:36
  ~ *@author Lance cui
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baiwang.moirai.mapper.MoiraiSecretKeyMapper">
  <resultMap id="BaseResultMap" type="com.baiwang.moirai.model.user.MoiraiSecretKey">
    <id column="SK_ID" jdbcType="BIGINT" property="skId" />
    <result column="SECRET_KEY" jdbcType="VARCHAR" property="secretKey" />
    <result column="EXPIRE_TYPE" jdbcType="CHAR" property="expireType" />
    <result column="EXPIRE_TIME" jdbcType="BIGINT" property="expireTime" />
    <result column="EXPIRE_DATE" jdbcType="BIGINT" property="expireDate" />
    <result column="SYSTEM" jdbcType="VARCHAR" property="system" />
    <result column="CREATER" jdbcType="VARCHAR" property="creater" />
    <result column="CREATE_TIME" jdbcType="BIGINT" property="createTime" />
    <result column="USE_SIGN" jdbcType="CHAR" property="useSign" />
  </resultMap>
  <sql id="Base_Column_List">
    SK_ID, SECRET_KEY, EXPIRE_TYPE, EXPIRE_TIME, EXPIRE_DATE, SYSTEM, CREATER, CREATE_TIME, 
    USE_SIGN
  </sql>

  <select id="selectAllSecretKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from moirai_secret_key
    where USE_SIGN = 'Y'
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from moirai_secret_key
    where SK_ID = #{skId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from moirai_secret_key
    where SK_ID = #{skId,jdbcType=BIGINT}
  </delete>
  <insert id="insertSelective" parameterType="com.baiwang.moirai.model.user.MoiraiSecretKey">
    insert into moirai_secret_key
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="skId != null">
        SK_ID,
      </if>
      <if test="secretKey != null">
        SECRET_KEY,
      </if>
      <if test="expireType != null">
        EXPIRE_TYPE,
      </if>
      <if test="expireTime != null">
        EXPIRE_TIME,
      </if>
      <if test="expireDate != null">
        EXPIRE_DATE,
      </if>
      <if test="system != null">
        SYSTEM,
      </if>
      <if test="creater != null">
        CREATER,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="useSign != null">
        USE_SIGN,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="skId != null">
        #{skId,jdbcType=BIGINT},
      </if>
      <if test="secretKey != null">
        #{secretKey,jdbcType=VARCHAR},
      </if>
      <if test="expireType != null">
        #{expireType,jdbcType=CHAR},
      </if>
      <if test="expireTime != null">
        #{expireTime,jdbcType=BIGINT},
      </if>
      <if test="expireDate != null">
        #{expireDate,jdbcType=BIGINT},
      </if>
      <if test="system != null">
        #{system,jdbcType=VARCHAR},
      </if>
      <if test="creater != null">
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="useSign != null">
        #{useSign,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.baiwang.moirai.model.user.MoiraiSecretKey">
    update moirai_secret_key
    <set>
      <if test="secretKey != null">
        SECRET_KEY = #{secretKey,jdbcType=VARCHAR},
      </if>
      <if test="expireType != null">
        EXPIRE_TYPE = #{expireType,jdbcType=CHAR},
      </if>
      <if test="expireTime != null">
        EXPIRE_TIME = #{expireTime,jdbcType=BIGINT},
      </if>
      <if test="expireDate != null">
        EXPIRE_DATE = #{expireDate,jdbcType=BIGINT},
      </if>
      <if test="system != null">
        SYSTEM = #{system,jdbcType=VARCHAR},
      </if>
      <if test="creater != null">
        CREATER = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="useSign != null">
        USE_SIGN = #{useSign,jdbcType=CHAR},
      </if>
    </set>
    where SK_ID = #{skId,jdbcType=BIGINT}
  </update>
</mapper>