<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baiwang.moirai.mapper.MoiraiUserHistoryPasswordMapper">
    <resultMap id="BaseResultMap" type="com.baiwang.moirai.model.user.MoiraiUserHistoryPassword">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="uuid" jdbcType="VARCHAR" property="uuid"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, user_id, password, uuid, create_time
    </sql>

    <insert id="insert" parameterType="com.baiwang.moirai.model.user.MoiraiUserHistoryPassword">
        insert into moirai_user_History_password (id, user_id, password, uuid, create_time)
        values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{password,jdbcType=VARCHAR}, #{uuid,jdbcType=VARCHAR},
        #{createTime,jdbcType=TIMESTAMP})
    </insert>

    <!--删除用户详细-->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from moirai_user_History_password where id =  #{id ,jdbcType=BIGINT}
    </delete>

    <select id="selectListByUserId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from moirai_user_History_password
        where user_id = #{userId, jdbcType=BIGINT}
        order by create_time desc
    </select>

</mapper>